<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="title">LISTIFY</h1>
    <h2 class="todosCap">Todos:</h2>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> (delete) </span>
            </li>
    <% }) %>    
    </ul>

    <h3 class="todosLeft">*<%= user.userName %> has <%= left %> things left to do.*</h3>

    <form class="todoForm" action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input class="todoBtn" type="submit">
    </form>

    <button class="logoutBtn" onclick="location.href='/logout';"">LOGOUT</button>

    <script src="js/main.js"></script>
</body>
</html>